body {
    background-color: rgb(248, 235, 249);
    font-family: Arial, Helvetica, sans-serif;
    color: #ea88c8;
    text-align: center;
}

hr {
    width: 500px;
    height: 2px;
    background-color: rgb(245, 201, 239);
    border: 0;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;

    background-color: rgb(245, 201, 239);
    color:#FFFFFF;
    border: 6px solid rgb(230, 173, 211);;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board-cube {
    border: 6px solid rgb(230, 173, 211);
    border-radius: 2px;
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-board-cube {
    background-color: white;
    color:rgb(245, 201, 239);

}

#restart-button {
    height: 50px;
    width: 150px;
    border: 5px solid rgb(230, 173, 211);;
    border-radius: 5px;
    background-color: rgb(245, 201, 239);
    color: white;
    font-size: 20px;
    margin-top: 20px;
}